{:up
 [{:alter-table :cats
   :add-columns [[:favourite-food "TEXT" "DEFAULT 'fish'"]
                 [:favourite-toy  "TEXT" "DEFAULT 'gun'"]]}]
 :down
 [{:alter-table :cats
   :drop-columns [:favourite-food :favourite-toy]}]}
